/* ----------------------------------------------- */
/* -------------- Project Colors ----------------- */
/* ----------------------------------------------- */

root {
    --bg-navigation-primary: #222;
    --bg-navigation-secondary: #090909;
}

/* ----------------------------------------------- */
/* ---------------- BASIC SETUP ------------------ */
/* ----------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

/* ------------ SCROLLBAR SETTINGS --------------- */

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}


/* ----------------------------------------------- */
/* ------------- REUSABLE COMPONENTS ------------- */
/* ----------------------------------------------- */

main {
  /* background-color: #555; */
  color: white;
  margin-left: 5rem;
  padding:0 5%;
  height: 100vh;
}

.navbar {
  position: fixed;
  background-color: #23232e;
  transition: width .6s ease;
  overflow: hidden;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #23232e;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: all .6s;
}

.nav-item-brand i,
.nav-link i {
  text-align: center;
  color: #3742fa;
  font-size: 2rem;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #090909;
  color: #ececec;
}

.nav-link:hover .nav-link-text {
  color: white;
}

.nav-link i {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link-text {
  display: none;
  text-transform: uppercase;
  margin-left: 1rem;
  transition: color .6s ease;
}

.nav-item-brand {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #090909;
  font-size: 1.5rem;
  letter-spacing: .3ch;
  width: 100%;
}

.nav-item-brand i {
  transform: rotate(0deg);
  transition: all .6s ease;
}

.navbar:hover .nav-item-brand i {
  transform: rotate(-180deg);
}

.brand-text {
  display: inline;
  position: absolute;
  left: -200px;
  transition: .6s;
}

.navbar:hover .brand-text {
  left: 8px;
}
